{% extends 'base.html.twig' %}

{% block title %}Administration{% endblock %}

{% block body %}

	<main>
        <h1>Tableau de bord</h1>
		<div class="container">
			{% include "components/_adminnav.html.twig" %}
		</div>
	</main>


{% endblock %}
