{% extends 'base.html.twig' %}

{% block title %}Administration{% endblock %}

{% block body %}

	<main>
        <h1>Tableau de bord</h1>
		<div class="container">
			{% include "components/_adminnav.html.twig" %}
		</div>

		<section id="admin-content">
			<p>Sélectionner un élément dans le menu pour l'afficher.</p>
		</section>
	</main>

	<script src="{{ asset('js/admin-dashboard.js') }}"></script>
{% endblock %}
