{% extends 'base.html.twig' %}

{% block title %}Modifier les options{% endblock %}

{% block body %}
    <h1>Modifier les options</h1>

    {{ include('options/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_options_index') }}">Retour à la liste</a>

    {{ include('options/_delete_form.html.twig') }}
{% endblock %}
